<%- include('_header') %>

<main class="resume">
  <header>
    <h1><%= name %></h1>
    <address>
      <a href="tel:<%= phone.replace(/\D/, '') %>"><%= phone %></a><br>
      <a href="mailto:<%= email %>"><%= email %></a><br>
      <%= address %>
    </address>
  </header>

  <section class="introduction">
<% introduction.trim().split(/\n+/).forEach(intro => { -%>
    <%- markdown(intro) -%>
<%  }) -%>
  </section>

  <section class="experience">
    <h2>Experience</h2>
    <div class="jobs">
<% experience.forEach(job => { -%>
      <div class="job">
        <div class="details">
          <h3 class="title"><%= job.title %></h3>
          <div class="company"><a href="<%= job.url %>"><%= job.company %></a></div>
          <div class="location"><%= job.location %></div>
          <div class="dates"><%= job.dates.start %> &ndash; <%= job.dates.end || 'Present' %></div>
        </div>
<%   job.content.trim().split(/\n+/).forEach(content => { -%>
        <%- markdown(content) -%>
<%   }) -%>
      </div>
<% }) -%>
    </div>
  </section>

  <aside class="skills">
    <h2>Skills</h2>
    <ul>
<% skills.forEach(skill => { -%>
<%   if (typeof skill === 'object') { -%>
      <li><strong><%= skill.category %></strong> <%= skill.items.join(', ') %></li>
<%   } else { -%>
      <li><%= skill %></li>
<%   } -%>
<% }) -%>
    </ul>
  </aside>

  <section class="education">
    <h2>Education</h2>
<% education.forEach(degree => { -%>
    <div class="degree">
      <div class="details">
        <h3 class="title"><%= degree.title %></h3>
        <div class="school"><%= degree.school %></div>
<%   if (degree.location) { -%>
        <div class="location"><%= degree.location %></div>
<%   } -%>
      </div>
      <div class="dates"><%= degree.dates.start %> &ndash; <%= degree.dates.end || 'Present' %></div>
<%   if (degree.content) { -%>
      <p><%= degree.content.trim() %></p>
<%   } -%>
    </div>
<% }) -%>
  </section>

  <section class="references">
    <h2>References <em>&</em> Code&nbsp;Samples</h2>
<% references.forEach(ref => { -%>
    <div class="reference">
<%   if (ref.link) { -%>
      <p><a href="<%= ref.link %>"><%= (ref.content || ref.link).trim() %></a></p>
<%   } else { -%>
      <p><%= ref.content.trim() %></p>
<%   } -%>
    </div>
<% }) -%>
  </section>
</main>

<%- include('_footer') %>
